*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

form{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  min-width: 400px;
}

/* form label{
  margin: 20px 0 5px;
} */

fieldset label{
  margin-right: 15px;
}

form button{
  background-color: aqua;
  border: none;
  padding: 15px;
  align-self: flex-start;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.421);
  cursor: pointer;
}

.answer{
  background-color: rgba(0, 208, 255, 0.171);
  padding: 10px;
  padding: 20px;
  font-size: 1.3rem;
  max-width: 700px;
  min-width: 400px;
}