*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
}

form label{
  margin: 20px 0 5px;
}

fieldset label{
  margin-right: 15px;
}