*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

header {
  background-color: #0a1a1e;
  font-weight: 700;
  height: 90px;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav span {
  color: #61dbfb;
  font-size: 1.7rem;
}