/* Responsive CSS */

/* header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.header-middle {
    flex-grow: 1;
    max-width: 25%;
}

.container {
    display: flex;
    gap: 4rem;
    position: relative;
}

.main-layout {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

aside {
    position: sticky;
    top: 80px;
    align-self: flex-start;
}

main {
    flex: 3 1 300px;
}

.stats {
    flex: 1 1 300px;
}

.cards {
    flex: 1 1 300px;
}

table {
    width: 100%;
}

.main-bottom {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
} */
/*media queries for responsive design
. */
/* @media (max-width: 50rem) {
    .search-bar {
        display: none;
    }

    .header-middle {
        flex-grow: 0;
        margin-left: auto;
        margin-right: 1.5rem;
    }

    .magic-text {
        display: none;
    }

    aside {
        position: absolute;
        top: 0;
        left: -2.5%;
        background: var(--color-bg-dark);
        padding: 0 5% 0 2.5%;
        height: 100vh;
    }
} */


/* THE ABOVE IS THE COMPLETE RESPONSIVE CODE 

commenting it out makes the boxes on the page appear block, line by line

Lets start by fixing the header
We talked about boxes, parent child relationship and rows/columns.

Header is the parent and has 3 separate columns, so we use the columns as the children. And that brings us to rule number 4

Rule number 4 - 
Name your children carefully

to apply any css, you are going to name them anyway. Why not use a name that is unique and more descriptive. That way it will easier to debug the code later. And you will aviod name conflicts aswell.

So we have a header that has 3 children.
*/
header {
    display: flex;
    justify-content: space-between;
    border: var(--parent);
}

.header-middle {
    border: var(--child);
    flex-grow: 1;
    max-width: 25%;
}

/* 
As you have guessed, we are using flex to align the side by side

And to distribute them evenly, we use justify-content: spacebetween
distributes the leftover space evenly between the children
Very handy for responsive layout

Then we have another useful property that we talked about ealiear. Flex grow will allow the middle child to grow for ever. But max-width will caution it with 25% of the parent at max.

Flex and Grid can only take you sofar
on a very smaller screen, this side by side arrangement doesnt work.

And that brings us to the final rule: Use @media to add complexity.
*/

/* 
FINAL RULE: Use @media to add complexity.
Media Queries let u apply diferent css properties based on a specific condition.

for this video, we are going to use the screen width condition. 
*/


/* 
if I set a max width and set some basic css, the browser will switch to this css when the condition is true.

We can hid the sidebar and stop it from growing by setting flex grow back to 0

Then use the margin auto property to send it to the right.
And dsiplay none to hide the magic text

This is pretty simple but very powerfult to achieve complex behaviour.
*/

/* 
Speaking of complex behaviour,
We want the main UI to sit right next to the sidebar.
Any idea on how to do that? 
You must be thinking by using Flex or Grid.

There is only one right answer. We want the side bar on the left. And the main UI to be on the right, filling the big space.

Does it look like flexible layout or grid?
Here is a bonus rule.
Use flex-box until proven grid-y. by default use flexbox for everything. 
*/

.container {
    border: var(--parent);
    display: flex;
    gap: 4rem;
    position: relative;
}

.container>* {
    border: var(--child);
}

.main-layout {
    flex-grow: 1;
    display: flex;
    border: var(--parent);
    gap: 1rem;
    flex-wrap: wrap;
}

.main-layout > * {
    border: var(--child);
}

/* 
so we have a main container which is the parent for the main section.

Can you tell the imediate children? think about it or a second

We want the side bar on the left and the main UI on the right.
So ofcorse we need 2 children. Display flex to aligh the children.

flex-grow of 1 for the main UI bcs we want the main UI to cover everything. and some gap to keep things clear

and some basic css and javascript to toggle sidebar
*/

/* // Toggle sidebar

const hamburger = document.querySelector(".hamburger");
const sidebar = document.querySelector("aside");

hamburger.addEventListener("click", () => {
  sidebar.classList.toggle("show-sidebar");
  sidebar.classList.toggle("hide-sidebar");
});

window.addEventListener("resize", () => {
  if (window.innerWidth < 800) {
    sidebar.classList.remove("show-sidebar");
    sidebar.classList.add("hide-sidebar");
  }
}); 

*/

/* 
The design is perfect on bigger screen but looks awkward on smaller screen.

So instead of shifting the UI, we can put the sidebar above the UIso it doesnt interfare with the rest of the layout.

And to do that, we are going to use the position property

like we are doing with display, you can use position to describe how this boxes are placed on the screen

position static
By default evry box just flow in a normal document order

position relative
is also the same as static but you unlock 4 more properties to move the box. top, botttom, left, right

position absolute
absolute is abit more dramatic and completely removes the box from the normal flow but you can control it by asigning any none staic value, like relative,  to the parent

position fixed
Fixed is almost identical to absolute but you dont need any parent to control its positioning. As the name suggests, fixed boxes are always fix on screen and dont move on scroll.

position sticky
sticky is a bit tricky. It will stay in the document flow and scroll normally but then stick to the position you assigned to it. This exactly what we did with our header and side bar
make sure u set alig-self as flex-start on sticky element if the parent is a flexbox. it is just one of those little things that makes you love css even more

Dont forget we dont want the sidevar to break the design on smaller screen. Thats why we take it out of the document flow on @media (max-width: 50rem) 
*/


/* sidebar */
aside {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 80px;
    gap: 2rem;
    z-index: 10;
    align-self: flex-start;
}

.show-sidebar {
    display: flex;
}

.hide-sidebar {
    display: none;
}

.sidebar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.active-link {
    font-weight: 700;
}

.active-link svg {
    stroke-width: 2;
}

/* 

And that is all the media query we will need for this project.
But the design in still breaking and that is bcs of 2 reasons.

First, the cascading part of CSS
So it is recommended to move all your media query to the end, so you dont accidentally ovride something

Second, is a very common issue with absolute positioning. We applied it on the child but the parent still have the static position by default. So lets add a relative position to the container that holds our side bar and the main UI.

Speaking of main-layout, I am going to make it a flexbox and see what happens plus a border and gap to make things abit clear.

I chose 3 children to achieve the responsive behavour i made in the sketch. Usually before writing any HTML you should create a family tree of the HTML content. draw out the main conatiner, the arrangement of its children and grand children. 

Define every parent-child relationship in an easy to understand format so u can come back to reference the document hierachy to fix any issue.

Currently, we have many issues with our main UI
the first one is the empty space on the right so we set flex grow to 1 on all children.

This solves our issue, but if you noticed closely, stats and cards are not growing. It is a very gotcha behaviour of flexbox.
Just bcs there is room to grow, doesnt mean all the items will grow equally. 

at first flex baes is et to auto on all 3 childrens. So the flexbox algorithm do some calculations and give the letover space to the bigger child. 

In our case we have assigned width 100% to the main child so it can respond to our screen size. But we can still control the layout however we want. 

For example we can set the flex basis to a fixed value like 300px 
This make everything grow equally, but the child is the most important part o the UI. I will set flex grow to take 2 values. Actually we can set flex grow to a bigger number as it is actually a proportional unit and comes in very handy for responsive layout 
*/

main {
    flex: 3 1 300px;
}

.stats {
    flex: 1 1 300px;
}

.cards {
    flex: 1 1 300px;
}

/* 
Lets fix our table so they grow to fill the small empty space.

On bigger screen, the overview and predictions table can be set on a single row. We can use flex or grid whatever we want. But lets use Grid this time.

we start by setting display to grid and adding a gap to space things out. And to create our columns, we declare grid template column with the repeat function that takes 2 values.

How many columns we want and their size. we want them to auto-fit and the size can go from 400 to full width.

But that might overflow on smaller screen, so lets use a min function to handle that.

This might look way complicated than flex box. Yes it is but it is also super useful


take the cards section for exmample. I have used the same repeat function or the column.

First lets et flex wrap to wrap on the main layout so the boxes can actually wrap into the next line.

And bcs we used grid, you got same size card whether it is one column, 2 column 0r 3 coulmn layout.

And with that, we've got a fully responsive UI that works on 4k monitor tiniest mobile phone and everything in between.
*/

.main-bottom {
    color: var(--color-text-light);
    margin-top: 3rem;
    border: var(--parent);
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit , minmax(min(400px, 100%), 1fr));
}

.cards {
    border: var(--parent);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit , minmax(min(300px, 100%), 1fr));
}



/* Rest of the CSS */
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --parent: solid 4px #ffe537;
    --child: solid 4px #537fe7;

    --color-bg-dark: hsl(0, 0%, 0%);
    --color-bg: hsl(0, 0%, 5%);
    --color-bg-light: hsl(0, 0%, 10%);
    --color-bg-gradient: linear-gradient(0deg,
            var(--color-bg-dark) 85%,
            var(--color-bg));
    --color-card: linear-gradient(0deg,
            var(--color-bg) 95%,
            var(--color-bg-light));
    --color-card-hover: linear-gradient(0deg,
            var(--color-bg),
            var(--color-bg-light));
    --color-border: hsl(0, 0%, 10%);
    --color-border-light: hsl(0, 0%, 20%);
    --color-text: hsl(0, 0%, 95%);
    --color-text-light: hsl(0, 0%, 75%);
    --color-text-muted: hsl(0, 0%, 55%);
    --shadow: none;
    --ff: "Manrope", sans-serif;
    --h1: 700 1.6rem/1em var(--ff);
    --h2: 700 1.4rem/1em var(--ff);
    --h3: 700 1.2rem/1em var(--ff);
    --p: 400 1rem/1em var(--ff);
    --links: 700 1rem/1em var(--ff);
    --small: 400 0.8rem/1em var(--ff);
    --rounded: 0.5rem;
    --max-width: 1280px;
    --width: 90%;
}

body.light-mode {
    --color-bg-dark: hsl(0, 0%, 90%);
    --color-bg: hsl(0, 0%, 95%);
    --color-bg-light: hsl(0, 0%, 100%);
    --color-bg-gradient: linear-gradient(0deg,
            var(--color-bg-dark),
            var(--color-bg));
    --color-card: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));
    --color-card-hover: linear-gradient(0deg,
            var(--color-bg),
            var(--color-bg-light) 50%);
    --color-text: hsl(0, 0%, 5%);
    --color-text-light: hsl(0, 0%, 25%);
    --color-text-muted: hsl(0, 0%, 45%);
    --color-border: hsl(0, 0%, 95%);
    --color-border-light: hsl(0, 0%, 100%);
    --shadow: 0px 2px 2px #00000030, 0px 4px 4px #00000015;
}

h1,
h2,
h3,
h4,
p,
small {
    margin: 0;
    padding: 0;
}

h1,
.h1 {
    font: var(--h1);
}

h2,
.h2 {
    font: var(--h2);
}

h3,
.h3 {
    font: var(--h3);
    color: var(--color-text);
}

.small {
    font: var(--small);
}

.links {
    font: var(--links);
}

body {
    margin: 0 auto;
    width: 95%;
    background: var(--color-bg-dark);
    color: var(--color-text);
    font-family: var(--ff);
    font: var(--p);
}

img {
    width: 100%;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

svg {
    width: 1.25rem;
    fill: none;
    stroke: var(--color-text);
    stroke-width: 1px;
}

/* button */
button {
    background: none;
    color: var(--color-text-light);
    border: none;
    cursor: pointer;
}

.btn {
    background: var(--color-text);
    color: var(--color-bg);
    font: var(--links);
    padding: 0.25rem 0.75rem;
    border-radius: var(--rounded);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

/* header */
header {
    position: sticky;
    top: 0;
    align-items: center;
    padding: 1rem 0;
    z-index: 11;
    background: var(--color-bg-dark);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-right {
    display: flex;
    gap: 1.5rem;
}

.header-middle {
    display: flex;
    align-items: center;
    background: var(--color-bg-light);
    border-radius: var(--rounded);
    box-sizing: content-box;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.search-bar {
    background: none;
    font: var(--p);
    border: none;
    color: var(--color-text);
    flex: 1;
    min-width: 0;
}

.search-bar:focus {
    outline: none;
}

.magic-icon {
    fill: var(--color-bg-light);
}

.profile-pic {
    max-width: 40px;
    border-radius: 50%;
}

/* highlight */
.shine {
    background: var(--color-card);
    border: solid 1px var(--color-border);
    border-top: 1px solid var(--color-border-light);
    box-shadow: var(--shadow);
    border-radius: var(--rounded);
}

.shine:hover {
    background: var(--color-card-hover);
}

/* layout */
.container {
    margin-top: 1rem;
}

.analytics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-light);
    margin-bottom: 1rem;
}

.analytics-duration {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#priceChart {
    width: 100% !important;
    height: 100% !important;
}

.price-chart {
    padding: 1rem;
    height: calc(max(200px, 20vw));
}

.main-bottom {
    color: var(--color-text-light);
    margin-top: 3rem;
}

.arrow-up-icon {
    fill: var(--color-text-light);
    stroke: none;
}

table {
    margin-top: 1rem;
    text-align: left;
}

th,
td {
    padding: 0.5rem 1.5rem;
    border-bottom: solid 1px var(--color-border);
}

tr:last-child td {
    border-bottom: none;
}

.active-quarter {
    color: var(--color-text);
    font-weight: 600;
}

.growth {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* stats */
.stats {
    color: var(--color-text-light);
}

.stats-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    padding: 1rem;
}

.stats-top-duration {
    display: flex;
    justify-content: space-between;
}

.stats-tt {
    margin-top: 0.5rem;
    width: 100%;
    height: 1.5rem;
}

.stats-tt::-webkit-meter-bar {
    background-color: var(--color-border);
    border-radius: var(--rounded);
}

.stats-tt::-webkit-meter-optimum-value {
    background: var(--color-text-muted);
    border-radius: var(--rounded);
}

.stats-bottom {
    margin-top: 2rem;
}

.recent-transactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* cards */
.cards-grid {
    margin: 1rem 0;
}

.card {
    color: var(--color-text-muted);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2rem;
}

.bank-name {
    font-weight: 500;
}

.card-number {
    letter-spacing: 0.15rem;
    color: var(--color-text);
}

.card span {
    margin-left: 0.5rem;
    color: var(--color-text-light);
}

.card-balance {
    font: var(--h2);
    margin: 0.5rem 0;
    color: var(--color-text-light);
    font-weight: 500;
}

.card-holder {
    font-weight: 500;
    letter-spacing: 0.15rem;
}

@media (max-width: 50rem) {
    .search-bar {
        display: none;
    }

    .header-middle {
        flex-grow: 0;
        margin-left: auto;
        margin-right: 1.5rem;
    }

    .magic-text {
        display: none;
    }

    aside {
        position: absolute;
        top: 0;
        left: -2.5%;
        background: var(--color-bg-dark);
        padding: 0 5% 0 2.5%;
        height: 100vh;
    }
}