*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: orange;
  display: flex;
  align-items: center;
  height: 90px;
  margin-bottom: 40px;
}

.container{
  width: 55%;
  margin: 0 auto;
  height: 250px;
  margin-bottom: 20px;
}

article{
  display: flex;
  gap: 20px;
}

.image-box{
  width: 30%;
}

.text-box{
  width: 60%;
  align-content: center;
}

.image-box img{
  height: 100%;
  width: 100%;
  border: 1px;
  border-radius: 20px;
}