
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(0, 0, 0, 0.74);
  background-color: ivory;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.499);
  height: 100px;
  gap: 10px;
  background-color: white;
}

header span{
  font-size: 2.5rem;
  color: black;
}

main{
  margin: 30px 30px 10px;
}

.addIngredientForm{
  display: flex;
  height: 50px;
  justify-content: center;
  
}

.addIngredientInput{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-grow: 1;
  max-width: 350px;
  min-width: 150px;
  padding: 10px;
  font-size: 1.2rem;
}

.addIngredientBtn{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
  font-weight: bolder;
  font-size: .9rem;
  text-transform: uppercase;
  background-color: cornflowerblue;
  border: none;
  color: white;
  cursor: pointer;
}

.addIngredientBtn::before{
  content: "+";
  margin: 5px;
}

.addIngredientBtn:hover{
  background-color: rgb(80, 136, 239);
}

.ingredientsAtHand, .recipeBox{
  margin: 20px auto;
  max-width: 350px;
  min-width: 150px;
}

.ingredientsAtHand h3{
  font-size: 1.5rem;
}

.ingredientsAtHand ul{
  margin-left: 50px;
  padding-top: 20px;
}

.ctaBox{
  width: 400px;
  margin: 0px auto;
  display: flex;
  background-color:rgb(167, 196, 250);
  padding: 20px;
  gap: 10px;
  font-size: .9rem;
  color: white;
    border-radius: 5px;

}

.ctaBox button{
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}

.ctaBox button:active{
  background-color:cornsilk;
}

.recipeBox h4{
  margin: 15px 0 5px;

}