*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(28, 27, 27);
  background-color: rgb(222, 222, 222);
}


header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-shadow: 0 1px 50px 10px rgba(0, 0, 0, 0.327);
  background-color: white;
  margin-bottom: 20px;
}

.logo{
  font-size: 2.5rem;
}

main{
  text-align: center;
  margin: 50px 0 10px;
}

form{
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 5px;

}

input{
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 300px;
}

form button{
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: rgb(6, 241, 178);
  font-weight: bolder;
  box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.142);
}

form button::before{
  content: "+";
  margin-right: 5px;
}

form button:hover{
  background-color: rgba(6, 241, 178, 0.547);
}

form button:active{
  background-color: rgba(6, 241, 178, 0.547);
  box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.059);
}


.ingredient-list{
  margin: 30px auto;
  width: 450px;
  text-align: left;
}

.ingredient-list li{
  list-style: none;
  margin: 10px 0;
}