*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(28, 27, 27);
  background-color: rgb(222, 222, 222);
}


header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-shadow: 0 1px 50px 10px rgba(0, 0, 0, 0.327);
  background-color: white;
  margin-bottom: 20px;
}

.logo{
  font-size: 2.5rem;
}

main{
  text-align: center;
  margin: 70px 0 10px;
}

form{
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 5px;

}

input{
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 300px;
}

form button{
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color:rgba(153, 50, 204, 0.582);
  font-weight:600;
  box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.142);
}

form button::before{
  content: "+";
  margin-right: 5px;
}

form button:hover{
  background-color: rgba(153, 50, 204, 0.505);
}

form button:active{
  background-color: rgba(153, 50, 204, 0.505);
  box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.059);
}


.ingredient-list{
  margin: 30px auto;
  width: 450px;
  text-align: left;
}

.ingredient-list li{
  list-style: none;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.delete::before{
  content: "✅";
}

.delete:hover::before{
  content: "❌";
}

.cta-box{
  width: 450px;
  margin: 0 auto;
  display: flex;
  background-color: rgba(6, 241, 178, 0.241);
  height: 100px;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
}

.cta-box p{
  text-align: left;
  width: 70%;
}

.cta-box button{
  text-align: right;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(6, 241, 178);
  font-weight: bolder;
}

.cta-box button:hover{
  background-color: rgb(1, 212, 156);
}

.recipe-box{
  text-align: left;
  margin: 30px auto;
  width: 450px;
}

.recipe-box li{  
  margin: 10px 0;
}

.recipe-box h3{
  margin-top: 30px;
}