*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(28, 27, 27);
  background-color: rgb(222, 222, 222);
}


header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-shadow: 0 2px 10px 5px rgb(6, 241, 178);
  background-color: white;
}

.logo{
  font-size: 2.5rem;
}

main{
  text-align: center;
  margin: 30px 0 10px;
}

form{
  display: flex;
  justify-content: center;
  height: 50px;

}

input{
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 300px;
}

form button{
  font-family: inherit;
  font-size: inherit;
}