*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: azure;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

/* button{
    color: rgb(15, 44, 69); 
} */

header{
    height: 100px;
    width: 400px;
    margin: 0 auto;
    background-color: darkblue;
    color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

header h1{
    font-size: 1.7rem;
}


.inputAndBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.inputAndBtn input{
    height: 35px;
    padding: .5rem;
}

.inputAndBtn button{
    height: 35px;
    width: 55px;
}




.tickers-box{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tickers-box p::after{
    content: ","
}

/* .tickers-box nth-last-child::after{
   color: red;
} */



.generate-report-btn{
    padding: 10px;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    background-color: chartreuse;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    /* color: rgb(15, 44, 69); */
}

.generate-report-btn:hover{
    background-color: rgb(170, 255, 85);
}

.generate-report-btn:active{
    background-color: rgb(170, 255, 85);
    box-shadow: inset black 1px 1px 10px 2px;
}


.result-section{
    margin: 20px 0 70px;
}