*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
  width: 50%;
  margin: 0 auto;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.292);
}

header > img {
  width: 40px;
  height: 50px;
}

header > h1{
  font-weight: 400;
}