*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  width: 500px;

}

main div{
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.464);
  box-shadow: 0 1px 2px 0 5px rgba(0, 0, 0, 0.271);
}