*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  width: 500px;
  margin: 0 auto;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

main div{
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.464);
  box-shadow: 0 1px 20px 20px 5px rgba(0, 0, 0, 0.712);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}