*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

main > div:nth-child(1){
  background-color: aqua;
  padding: 10px;
  margin-bottom: 20px;
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls{
  display: flex;
  gap: 10px;
}

.controls span{
  cursor: pointer;
  font-size: 4rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}