*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
}

main > div:nth-child(1){
  background-color: aqua;
  padding: 20px;
  margin-bottom: 20px;
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  min-width: 400px;
  gap: 20px;
}

.controls{
  display: flex;
  gap: 10px;
}

.controls span{
  cursor: pointer;
  font-size: 4rem;
}