*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

header{
  margin-bottom: 30px;
}

.header-text{
  display: flex;
  background-color: goldenrod;
  align-items: center;
  justify-content: center;
  color: white;
  height: 70px;
}

.header-text span{
  font-size: 2rem;
}

.entry-box{
  display: flex;
  width: 50%;
  height: 200px;
  margin: 30px auto;
  gap: 30px;
  align-items: center;
}

.image-box{
  height: 100%;
  width: 30%;
}

.text-box{
  width: 70%;
}

.image-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.location .country{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
}

.text-box h2{
  margin: 5px 0 10px;
}

.text-box .dates{
  font-weight: 600;
  margin-bottom: 5px;
}