
body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 700px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.img-right{
  width: 300%;
  opacity: .2;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 20px;
}

.list-item{
  font-size: 1.2rem;
}